<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- CONFIGURACIÓN -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0" >
        <title>Infinity Books</title>

        <!-- FAVICON -->
        <link rel="icon" type="image/png" href="../favicon.jpg">

        <!-- CSS -->
        <link rel="stylesheet" href="../css/stiles.css">

        <!--Banco de ICONOS-->
        <script src="https://kit.fontawesome.com/3df8c736cd.js" crossorigin="anonymous"></script>


    </head>
    <body >
        <!-- CABECERA: Barra navegación, logo, búsqueda, ...-->

        <header>
            <!--Barra de navegación-->
            <nav>
                <ul class="barraNavegacion">

                    <li><img src="../favicon.jpg" class="logoweb" alt="Logo de la web"> </li>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="presupuesto.html">Presupuestos</a></li>
                    <li style="background: linear-gradient(to bottom right,  #ff006a, #ffffff)"><a href="contacto.html">Contacto</a></li>

                </ul>
            </nav>
        </header>



        <!-- PRINCIPAL: Contenido principal  -->
        <main>
            <div>  
                <div id="contacto_mapa">
                    <div class="p_mapa">
                     <p>Dirección: C/Goya </p>
                     <p>Telefono: 123456789</p>
                     <p>Código Postal: 29580</p>
                     <p>E-Mail: infinitybooks@gmail.com</p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d822.4136097837385!2d-4.5936453455872925!3d36.74828606146437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72ee5ab5ae00d5%3A0x395bbc87fc8c441e!2sKiosco%20Loli!5e0!3m2!1ses!2ses!4v1718116808268!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> 
            </div>
        
        </main>




        <!-- FOOTER: Pie de página, accesos a RRSS, aviso legal,  -->
        <footer class="pie-pagina">
            
            <div class="grupo-2">
                <small>&copy; 2025 <b>Infinity Books</b> - Todos los derechos reservdos.</small>
                <small>Este sitio está sujeto a los <a href="aviso-legal.html" target="_blank">términos y condiciones</a> y <a href="politica-privacidad.html" target="_blank">política de privacidad</a></small>
                <small>Calle Goya con Calle Real, El Sexmo, 29580 Málaga.</small>
                
                <div class="red-social">
                    <a href="https://www.facebook.com/?locale=es_ES" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                    <a href="https://www.youtube.com/?app=desktop&hl=es" class="fa fa-youtube"></a>
                    <a href="https://x.com/?lang=es&mx=2" class="fa fa-x"></a>
                 </div>
               
            </div>

        </footer>

    </body>
</html>